# Python:
*.py[cod]
test.py

# Folders:
data/*
yolo/training_code/Datasets/*
cls/datasets/*
cls/saved_models/*
yolo_inference/output/*

# Files
*.jpg
*.xml
**/JQ_SMT_B_CHIPRC.yaml
**/NK_DAOI_CHIPRC.yaml
**/NK_DAOI_DIMM.yaml
**/NK_DAOI_PCIE.yaml

# Machine Models
*.pt