# Python:
*.py[cod]
test.py

# Folder:
data/*
yolo/training_code/Datasets/*
cls/JQ_SMT_B_CHIPRC/datasets/*
cls/JQ_SMT_B_CHIPRC/saved_models/*
yolo_inference/output/*
*.jpg
*.xml

# Machine Models
*.pt