# Python:
*.py[cod]
test.py

# Folders:
data/*
yolo/training_code/Datasets/*
cls/datasets/*
cls/saved_models/*
yolo_inference/output/*

# Files
*.jpg
*.xml
yolo/training_code/yolov5/data/JQ_SMT_B_CHIPRC.yaml
yolo/training_code/yolov5/data/NK_DAOI_CHIPRC.yaml
yolo/training_code/yolov5/data/NK_DAOI_DIMM.yaml
yolo/training_code/yolov5/data/NK_DAOI_PCIE.yaml
yolo/training_code/yolov5/models/JQ_SMT_B_CHIPRC.yaml
yolo/training_code/yolov5/models/NK_DAOI_CHIPRC.yaml
yolo/training_code/yolov5/models/NK_DAOI_DIMM.yaml
yolo/training_code/yolov5/models/NK_DAOI_PCIE.yaml

# Machine Models
*.pt